# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local Data Lake & Database files
.data/
*.duckdb
*.duckdb.wal
*.db
*.sqlite3
*.parquet

# Virtual Environments
venv/
.venv/
env/
ENV/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Environment Variables & Secrets
.env
*.local

# IDE & OS specific files
.vscode/
.idea/
.DS_Store
Thumbs.db
